mame.exe
mame64.exe
mamepgui.exe
mameui64.exe
*.png
Multi/_bios/
Multi/RetroArch*/_system/
Multi/RetroArch*/assets/
Multi/RetroArch*/autoconfig/
Multi/RetroArch*/cheats/
Multi/RetroArch*/config/
Multi/RetroArch*/cores/
Multi/RetroArch*/database/
Multi/RetroArch*/downloads/
Multi/RetroArch*/filters/
Multi/RetroArch*/info/
Multi/RetroArch*/overlays/
Multi/RetroArch*/playlists/
Multi/RetroArch*/recordings/
Multi/RetroArch*/saves/
Multi/RetroArch*/screenshots/
Multi/RetroArch*/shaders/
Multi/RetroArch*/states/
Multi/RetroArch*/system/
Multi/RetroArch*/thumbnails/
Multi/RetroArch*/retroarch_debug.exe
Multi/RetroArch*/retroarch.exe
Multi/RetroArch*/content_image_history.lpl
Multi/RetroArch*/content_history.lpl
Multi/RetroArch*/*.dll
Multi/RetroArch*/**/*.dll
Multi/Mednafen*/b
Multi/Mednafen*/cheat
Multi/Mednafen*/de
Multi/Mednafen*/Documentation
Multi/Mednafen*/firmware
Multi/Mednafen*/mcm
Multi/Mednafen*/palettes
Multi/Mednafen*/pgconfig
Multi/Mednafen*/ru
Multi/Mednafen*/sav
Multi/Mednafen*/snaps
Multi/Mednafen*/stdout.txt
Multi/Mednafen*/ChangeLog
Multi/Mednafen*/COPYING
Multi/Mednafen*/*.dll
Multi/Mednafen*/mcs
Multi/Mednafen*/mednafen.lck
Multi/Mednafen*/stderr.txt
Multi/Mednafen*/mednafen.exe
Windows 95/WIN98/0/
Windows 95/WIN98/SHADERS/
Windows 95/WIN98/WIN_IMG/
Windows 95/WIN98/*.dll
Windows 95/WIN98/dosbox_debug.exe
Windows 95/WIN98/dosbox.exe
Windows 95/WIN98/glide.log
Windows 95/WIN98/dosbox_x64.exe
Windows 95/WIN98/stderr.txt
PC88/**/*.zip
PC98/**/*.zip
3DS/_tool/
3DS/*/fix/
3DS/*/*.dll
3DS/*/**/*.dll
3DS/*/citra.exe
3DS/*/citra-qt.exe
3DS/*/citra-room.exe
3DS/*/license.txt
3DS/*/README.md
3DS/*/updater.cfg
3DS/*/updater.ps1
ZZ_Util/installLibrary
PlayStation2/PCSX2 1.5.0/Bios/
PlayStation2/PCSX2 1.5.0/cheats/
PlayStation2/PCSX2 1.5.0/docs/
PlayStation2/PCSX2 1.5.0/Langs/
PlayStation2/PCSX2 1.5.0/logs/
PlayStation2/PCSX2 1.5.0/plugins/
PlayStation2/PCSX2 1.5.0/inis/
PlayStation2/PCSX2 1.5.0/shaders/
PlayStation2/PCSX2 1.5.0/memcards/
PC88/M88 2.19a/2608_
*.wav
PC88/M88 2.19a/readme.txt
*.rom
PlayStation2/PCSX2 1.5.0/run_spu2_replay.cmd
PlayStation2/PCSX2 1.5.0/pcsx2.exe
PlayStation2/PCSX2 1.5.0/cheats_ws/8897c208.pnach
PlayStation2/PCSX2 1.5.0/cheats_ws.zip
PlayStation2/PCSX2 1.5.0/GameIndex.dbf
PC88/M88 2.19a/M88.exe
PC88/M88 2.19a/KANJI1.ROM.src
PC88/M88 2.19a/INI.txt
PC88/M88 2.19a/ENHANCED.txt
PC88/M88 2.19a/faq.txt
3DS/Citra 2019-01-29/user/
3DS/Citra 2019-01-29/ReShade_Setup_4.0.2.exe
N64/Project64-20181205/Lang
N64/Project64-20181205/Plugin/1.6 Plugins/Adaptoid_v1_0.dll
N64/Project64-20181205/Plugin
N64/Project64-20181205/Logs
N64/Project64-20181205/Docs/3rd Party Plugins/N-Rage - Readme.txt
N64/Project64-20181205/*.chm
N64/Project64-20181205/pif2.dat
N64/Project64-20181205/UpdateVersion.exe
N64/Project64-20181205/Project64.exe
N64/Project64-20181205/Config/Glide64.rdb
N64/Project64-20181205/Config/Blank Project64.rdb
N64/Project64-20181205/Config/Audio.rdb
N64/Project64-20181205/Config
N64/Project64-20181205/Docs
N64/Project64-20181205/Save
